* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
}

nav {
    min-height: 100px;
}

.navbar-toggler {
    padding: 3px;
}

.navbar-nav {
    text-align: center;
    color: rgba(255, 255, 255, .75);
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #8c8c8c;
}

.navbar-dark .navbar-toggler {
    border: none;
}

#bg {
    width: 100vw;
    height: 100vh;
    background-image: url(fond.jpg);
    position: fixed;
    z-index: 1;
}

.demo {
    z-index: 2;
    position: relative;
}

body {
    margin: 0;
    font-family: Poppins;
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
}

canvas {
    position: absolute;
    z-index: -1;
}

nav {
    padding: 8px;
}

.logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;
}

.logo a {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
}

/* about */

.para {
    text-align: center;
    font-size: 18px;
    font-stretch: condensed;
    font-weight: bold;
    color: #fff;
    text-justify: auto;
    margin-top: 40px;
}

/* Importation de l'effet "glitch" */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100');
html, body, h1 {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#app {
    margin-top: 40vh;
    width: 100%;
    padding: 0;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

#wrapper {
    text-align: center;
}

.sub {
    color: #64dcdc;
    letter-spacing: 1em;
}

/* Our mixin positions a copy of our text
 directly on our existing text, while
 also setting content to the appropriate
 text set in the data-text attribute. */

.glitch {
    margin-bottom: 1vh;
    margin-top: 50px;
    position: relative;
    color: white;
    font-size: 2em;
    letter-spacing: 0.3em;
    /* Animation provies a slight random skew. Check bottom of doc
   for more information on how to random skew. */
    animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
   a typical top,right,bottom,left fashion and creates a mask
   to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
   with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
 a percentage for the specific step. It then generates a random clip
 box to be used for the random glitch effect. Also adds a very subtle
 skew to change the 'thickness' of the glitch.*/

@keyframes glitch-anim {
    0% {
        clip: rect(33px, 9999px, 90px, 0);
        transform: skew(0.83deg);
    }
    5% {
        clip: rect(20px, 9999px, 77px, 0);
        transform: skew(0.46deg);
    }
    10% {
        clip: rect(80px, 9999px, 25px, 0);
        transform: skew(0.07deg);
    }
    15% {
        clip: rect(52px, 9999px, 41px, 0);
        transform: skew(0.11deg);
    }
    20% {
        clip: rect(92px, 9999px, 71px, 0);
        transform: skew(0.99deg);
    }
    25% {
        clip: rect(48px, 9999px, 19px, 0);
        transform: skew(0.85deg);
    }
    30% {
        clip: rect(55px, 9999px, 21px, 0);
        transform: skew(0.79deg);
    }
    35% {
        clip: rect(98px, 9999px, 12px, 0);
        transform: skew(0.38deg);
    }
    40% {
        clip: rect(50px, 9999px, 13px, 0);
        transform: skew(0.36deg);
    }
    45% {
        clip: rect(97px, 9999px, 1px, 0);
        transform: skew(0.1deg);
    }
    50% {
        clip: rect(78px, 9999px, 50px, 0);
        transform: skew(0.29deg);
    }
    55% {
        clip: rect(21px, 9999px, 99px, 0);
        transform: skew(0.96deg);
    }
    60% {
        clip: rect(88px, 9999px, 80px, 0);
        transform: skew(0.23deg);
    }
    65% {
        clip: rect(80px, 9999px, 32px, 0);
        transform: skew(0.12deg);
    }
    70% {
        clip: rect(82px, 9999px, 42px, 0);
        transform: skew(0.47deg);
    }
    75% {
        clip: rect(23px, 9999px, 6px, 0);
        transform: skew(0.81deg);
    }
    80% {
        clip: rect(9px, 9999px, 39px, 0);
        transform: skew(0.24deg);
    }
    85% {
        clip: rect(74px, 9999px, 100px, 0);
        transform: skew(0.82deg);
    }
    90% {
        clip: rect(1px, 9999px, 37px, 0);
        transform: skew(0.75deg);
    }
    95% {
        clip: rect(15px, 9999px, 93px, 0);
        transform: skew(0.78deg);
    }
    100% {
        clip: rect(33px, 9999px, 25px, 0);
        transform: skew(0.91deg);
    }
}

@keyframes glitch-anim2 {
    0% {
        clip: rect(1px, 9999px, 100px, 0);
        transform: skew(0.43deg);
    }
    5% {
        clip: rect(97px, 9999px, 83px, 0);
        transform: skew(0.31deg);
    }
    10% {
        clip: rect(21px, 9999px, 8px, 0);
        transform: skew(0.2deg);
    }
    15% {
        clip: rect(76px, 9999px, 33px, 0);
        transform: skew(0.35deg);
    }
    20% {
        clip: rect(44px, 9999px, 33px, 0);
        transform: skew(0.39deg);
    }
    25% {
        clip: rect(55px, 9999px, 75px, 0);
        transform: skew(0.72deg);
    }
    30% {
        clip: rect(56px, 9999px, 83px, 0);
        transform: skew(0.22deg);
    }
    35% {
        clip: rect(73px, 9999px, 29px, 0);
        transform: skew(0.64deg);
    }
    40% {
        clip: rect(66px, 9999px, 39px, 0);
        transform: skew(0.75deg);
    }
    45% {
        clip: rect(85px, 9999px, 99px, 0);
        transform: skew(0.48deg);
    }
    50% {
        clip: rect(71px, 9999px, 86px, 0);
        transform: skew(0.06deg);
    }
    55% {
        clip: rect(20px, 9999px, 48px, 0);
        transform: skew(0.71deg);
    }
    60% {
        clip: rect(92px, 9999px, 72px, 0);
        transform: skew(0.96deg);
    }
    65% {
        clip: rect(78px, 9999px, 92px, 0);
        transform: skew(0.63deg);
    }
    70% {
        clip: rect(89px, 9999px, 71px, 0);
        transform: skew(0.95deg);
    }
    75% {
        clip: rect(87px, 9999px, 46px, 0);
        transform: skew(0.79deg);
    }
    80% {
        clip: rect(16px, 9999px, 97px, 0);
        transform: skew(0.44deg);
    }
    85% {
        clip: rect(84px, 9999px, 57px, 0);
        transform: skew(0.65deg);
    }
    90% {
        clip: rect(74px, 9999px, 45px, 0);
        transform: skew(0.8deg);
    }
    95% {
        clip: rect(82px, 9999px, 91px, 0);
        transform: skew(0.96deg);
    }
    100% {
        clip: rect(41px, 9999px, 45px, 0);
        transform: skew(0.93deg);
    }
}

@keyframes glitch-skew {
    0% {
        transform: skew(-1deg);
    }
    10% {
        transform: skew(-4deg);
    }
    20% {
        transform: skew(3deg);
    }
    30% {
        transform: skew(2deg);
    }
    40% {
        transform: skew(-1deg);
    }
    50% {
        transform: skew(5deg);
    }
    60% {
        transform: skew(-3deg);
    }
    70% {
        transform: skew(2deg);
    }
    80% {
        transform: skew(-4deg);
    }
    90% {
        transform: skew(3deg);
    }
    100% {
        transform: skew(5deg);
    }
}

/* contact */

.signin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #fff;
    font-size: 50px;
    text-align: center;
}

input {
    display: block;
    width: 300px;
    height: 50px;
    background: white;
    outline: none;
    border: 1 px solid rgba(0, 0, 0, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 12px;
    padding-left: 10px;
    border-radius: 5px;
}

.buttonn {
    width: 300px;
    height: 50px;
    font-size: 16px;
    background: #000;
    font-weight: lighter;
    color: #fff;
    border: 0px;
    border-radius: 5px;
}

/* carousel */

.card-carousel {
    display: flex;
    margin-top: 20vh;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.card-carousel .my-card {
    height: 33rem;
    width: 33rem;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    background: #535e64;
    background: linear-gradient(to top, #535e64, #cfd2d3);
    transition: 1s;
}

.card-carousel .my-card:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: -5rem;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.card-carousel .my-card:nth-child(1):before {
    content: '1';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(2):before {
    content: '2';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(3):before {
    content: '3';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card.active {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
}

.card-carousel .my-card.prev, .card-carousel .my-card.next {
    z-index: 2;
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
    transform: scale(0.8) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
}

.firstlien {}

@import url('https://fonts.googleapis.com/css?family=Heebo:800');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 681px;
    height: 384px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    overflow: hidden;
    position: absolute;
    -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
}

svg {
    position: absolute;
    z-index: 1;
    width: 681px;
    height: 384px;
}

button {
    position: absolute;
    z-index: 50;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
}

button:focus {
    outline-width: 0;
}

circle {
    stroke: #fff;
    fill: none;
    transition: 0.3s;
}

#svg1 circle {
    transition-timing-function: linear;
}

#svg2 circle {
    transition-timing-function: linear;
}

#Capa_1 {
    position: absolute;
    width: 16px;
    height: 16px;
    transform: translate(-7px, -8px);
}

#Capa_2 {
    position: absolute;
    width: 16px;
    height: 16px;
    transform: translate(-9px, -8px);
}

.right {
    margin-left: 628px;
    margin-top: 168px;
    border: 1px solid #849494;
    background-color: transparent;
    transition: 0.5s;
}

.right:hover {
    background-color: #fff;
}

.left {
    margin-left: 0.5%;
    margin-top: 168px;
    border: 1px solid #849494;
    background-color: transparent;
    transition: 0.5s;
}

.left:hover {
    background-color: #fff;
}

.slide1 {
    background-image: url('svg.png');
}

.slide2 {
    background-image: url('merise.png');
}

.slide3 {
    background-image: url('we.png');
}

.slide4 {
    background-image: url('net.png');
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    display: inline-flex;
    overflow: hidden;
}

.slide1, .slide2, .slide3, .slide4 {
    position: absolute;
    background-position: center;
    background-size: cover;
    color: #fff;
    padding-top: 188px;
    width: 25%;
    height: 100%;
    z-index: 10;
    transition: 1.4s;
}

.tran {
    transform: scale(1.3);
}

.up1 {
    z-index: 20;
}

.up2 {
    z-index: 40;
}

.steap {
    stroke-width: 0;
}

.streak {
    stroke-width: 82px;
}

@media (max-width: 700px) {
    .parent {
        margin-left: 1%;
    }
}

@media only screen and (max-width: 768px) {
    .demo .main-title {
        font-size: 3em;
    }
}

.fade {
    overflow-y: auto;
    height: 450px;
}

.animation {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.row {
    margin-top: 10%;
}

#card {
    width: 20%;
    height: 200px;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#cardavenir {
    width: 20%;
    height: 500px;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#cardhayao {
    width: 20%;
    height: 500px;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#cardsleeve {
    width: 20%;
    height: 500px;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#cardlil {
    width: 20%;
    height: 500px;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#cardompe {
    width: 20%;
    height: 500px;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#cardchoco {
    width: 20%;
    height: 500px;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#cardjeu {
    width: 20%;
    height: 500px;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#cardkyo {
    width: 20%;
    height: 500px;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#cardperso {
    width: 20%;
    height: 500px;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#cardmag {
    width: 20%;
    height: 500px;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /*transition effects */
    -webkit-transition: -webkit-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card.flipped {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

.card-title {
    text-align: center;
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 10px -18px 300px -77px rgba(255, 255, 255, 0.74);
    -moz-box-shadow: 10px -18px 300px -77px rgba(255, 255, 255, 0.74);
    box-shadow: 10px -18px 300px -77px rgba(255, 255, 255, 0.74);
}

.card-text {
    width: 110%;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    background-color: white;
    display: table;
    margin: 1em 0;
    color: black;
    font-size: 14px;
}

.kyo {
    width: 100%;
    height: auto;
}

.kyoo {
    width: 100%;
    height: auto;
}

.center {
    text-align: center;
    font-size: 14px;
    color: white;
}

.abc {
    margin-left: 50%;
}

.lienproj {
    margin: auto;
}

@media screen and (max-width: 768px) {
    #card {
        width: 20%;
        height: 200px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardavenir {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardhayao {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardsleeve {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardlil {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardompe {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardchoco {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardjeu {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardkyo {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardperso {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardmag {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    .card.flipped {
        -webkit-transform: rotateY( 180deg);
        -moz-transform: rotateY( 180deg);
        -o-transform: rotateY( 180deg);
        transform: rotateY( 180deg);
    }
    .kyo {
        width: 200px;
        height: auto;
    }
    .kyoo {
        width: 100%;
        height: auto;
    }
    .center {
        text-align: center;
        font-size: 14px;
        color: white;
    }
    .abc {
        margin-left: 50%;
    }
    .card-title {
        text-align: center;
        color: rgb(255, 255, 255);
        -webkit-box-shadow: 10px -18px 300px -77px rgba(255, 255, 255, 0.74);
        -moz-box-shadow: 10px -18px 300px -77px rgba(255, 255, 255, 0.74);
        box-shadow: 10px -18px 300px -77px rgba(255, 255, 255, 0.74);
    }
    .card-text {
        width: 110%;
        border: 1px solid rgb(255, 255, 255);
        padding: 8px;
        background-color: white;
        display: table;
        margin: 1em 0;
        color: black;
        font-size: 14px;
    }
}

@media screen and (max-width: 560px) {
    #card {
        width: 20%;
        height: 200px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardavenir {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardhayao {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardsleeve {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardlil {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardompe {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardchoco {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardjeu {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardkyo {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardperso {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    #cardmag {
        width: 20%;
        height: 500px;
        cursor: pointer;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        /*transition effects */
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        -o-transition: -o-transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: center;
    }
    .card.flipped {
        -webkit-transform: rotateY( 180deg);
        -moz-transform: rotateY( 180deg);
        -o-transform: rotateY( 180deg);
        transform: rotateY( 180deg);
    }
    .kyo {
        width: 200px;
        height: auto;
    }
    .kyoo {
        width: 100%;
        height: auto;
    }
    .center {
        text-align: center;
        font-size: 14px;
        color: white;
    }
    .abc {
        margin-left: 50%;
    }
    .card-title {
        text-align: center;
        color: rgb(255, 255, 255);
        -webkit-box-shadow: 10px -18px 300px -77px rgba(255, 255, 255, 0.74);
        -moz-box-shadow: 10px -18px 300px -77px rgba(255, 255, 255, 0.74);
        box-shadow: 10px -18px 300px -77px rgba(255, 255, 255, 0.74);
    }
    .card-text {
        width: 110%;
        border: 1px solid rgb(255, 255, 255);
        padding: 8px;
        background-color: white;
        display: table;
        margin: 1em 0;
        color: black;
        font-size: 14px;
    }
}

.first {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
}

.second {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
}

.third {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    max-width: 100%;
}

@media screen and (max-width:768px) {
    .first {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }
    .second {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }
    .third {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }
}

@media screen and (max-width:456px){
    .first {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        max-width: 25vh;
    }
    .second {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        max-width: 25vh;
    }
    .third {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        max-width: 100%;
    }
}