<div id="wrapper">
    <h1 class="glitch" data-text="About">About</h1>
    <p class="para">
        Passionnée depuis petite par la monde l'art et les technologies.<br> J'ai baigné dans le monde du jeu vidéo et du dessin.<br>
        J'ai pour rêve de devenir une graphiste affirmée avec des atouts de developpeuse.<br>
        Depuis JUIN 2018 Je suis diplômée d'un titre professionnel d'infographiste metteur en page de niveau IV.<br> 
        Formation que j'ai suivi à l'école d'art Gérard Jacot sur Belfort (90) <br>
        Septembre 2018 j'ai commencé une formation pour un titre de designer Web niveau III sur Belfort,<br> chez ACCESS CODE SCHOOL (ONLINEFORMAPRO) 
    </p>
            
</div>