<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Articles</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/master.css" />
    </head>
    <body class="container">
        <nav class="navbar navbar-expand-lg"> 
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex justify-content-center collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="welcome">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="articles">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="graphism">Graphism</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="web">Web</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="moncv.pdf" target="_blank">CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content"></div>
        <script src="/js/jquery-3.3.1.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script id="additionalScript"></script>
    </body>
</html>