<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
<div class="row">
    <div class="small-9 small-centered columns">
        <div id="card"> 
            <div class="front panel"> 
            <h2 class="center">click on image</h2>
            <img class="kyo" src="images/cine.png">
            </div> 
                    <div class="back panel" >
                        <h5 class="card-title">Fête du cinéma</h5>
                        <p class="card-text">Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.
                        <p>
                        <a class="abc" href="images/cinema.pdf" target="_blank">click</a>
                    </div> 
                        
        </div>
  
        <div id="cardd"> 
            <div class="front panel"> 
            <h2 class="center">click on image</h2>
            <img class="kyo" src="images/avenir.png">
            </div> 
                    <div class="back panel" >
                        <h5 class="card-title">Typographie Avenir</h5>
                        <p class="card-text">Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.
                        <p>
                        <a class="abc" href="images/typo.pdf" target="_blank">click</a>
                    </div> 
                        
        </div>
        <div id="carddd"> 
            <div class="front panel"> 
            <h2 class="center">click on image</h2>
            <img class="kyo" src="images/hayao.png">
            </div> 
                    <div class="back panel" >
                        <h5 class="card-title">Graphique</h5>
                        <p class="card-text">Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.
                        <p>
                        <a class="abc" href="images/miyazaki.pdf"target="_blank">click</a>
                    </div> 
                        
        </div>
        <div id="cardddd"> 
            <div class="front panel"> 
            <h2 class="center">click on image</h2>
            <img class="kyo" src="images/sleev.png">
            </div> 
                    <div class="back panel" >
                        <h5 class="card-title">Sleeveface</h5>
                        <p class="card-text">Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.
                        <p>
                        <a class="abc" href="images/sleeveface.pdf"target="_blank">click</a>
                    </div> 
                        
        </div>
 <div id="carddddd"> 
            <div class="front panel"> 
            <h2 class="center">click on image</h2>
            <img class="kyo" src="images/lilwood.png">
            </div> 
                    <div class="back panel" >
                        <h5 class="card-title">LilWood Festival</h5>
                        <p class="card-text">Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.
                        <p>
                        <a class="abc" href="images/lil.pdf"target="_blank">click</a>
                    </div> 
                        
        </div>
         <div id="cardddddd"> 
            <div class="front panel"> 
            <h2 class="center">click on image</h2>
            <img class="kyo" src="images/ompe.png">
            </div> 
                    <div class="back panel" >
                        <h5 class="card-title">Double exposition</h5>
                        <p class="card-text">Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.
                        <p>
                        <a class="abc" href="images/ompe.pdf"target="_blank">click</a>
                    </div> 
                        
        </div>
         <div id="carddddddd"> 
            <div class="front panel"> 
            <h2 class="center">click on image</h2>
            <img class="kyoo" src="images/choco.png">
            </div> 
                    <div class="back panel" >
                        <h5 class="card-title">Le chocolat des français</h5>
                        <p class="card-text">Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.
                        <p>
                        <a class="abc" href="images/chocolat.pdf"target="_blank">click</a>
                    </div> 
                        
        </div>
 <div id="cardddddddd"> 
            <div class="front panel"> 
            <h2 class="center">click on image</h2>
            <img class="kyoo" src="images/jeudemot.png">
            </div> 
                    <div class="back panel" >
                        <h5 class="card-title">Jeu de mot</h5>
                        <p class="card-text">Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.Simulation pour la fête du cinéma. L'émotion était la seule contrainte : Mise en avant de la joie, d'un fond féerique
                        et d'un typographie travaillée faite avec un flou gaussien.
                        <p>
                        <a class="abc" href="images/miroir.pdf"target="_blank">click</a>
                    </div> 
                        
        </div>

</div>
</div>
<script>$("#card").flip();
$("#cardd").flip();
$("#carddd").flip();
$("#cardddd").flip();
$("#carddddd").flip();
$("#cardddddd").flip();
$("#carddddddd").flip();
$("#cardddddddd").flip();
</script>