<div class="card-deck" style="width:100%;">
<div class="card">
    <img class="card-img-top" src="images/kyo.JPG" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">Kyo Kombucha</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="images/cine.png" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">Kyo Kombucha</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="images/avenir.png" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">Kyo Kombucha</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
<div class="card">
    <img class="card-img-top" src="images/hayao.png" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">Kyo Kombucha</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-secondary">Go somewhere</a>
    </div>
</div>