<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
<div class="row">
    <div class="small-9 small-centered columns">
        <div id="card"> 
            <div class="front panel"> 
            <h2 class="center">click on image</h2>
            <img class="kyo" src="images/cine.png">
            </div> 
                    <div class="back panel" >
                        <h5 class="card-title">Fête du cinéma</h5>
                        <p class="card-text">Voici une affiche pour la fête du cinéma.
                        Le but était de représenter l'émotion à travers des montages photos.
                        La contrainte était la charte graphique pour la disposition des textes obligatoires.
                        J'ai décidé de représenter la joie au cinéma en utilisant une photo vectorisé et contrastée ainsi que diverses technique : pour la typographie, un flou gaussien.
                        Pour le projecteur, de la transparence et une mise en produit.
                        Tout cela dans une ambiance sombre et étoilée pour rappeler le côté sombre de la pièce dans laquelle nous nous trouvons au cinéma.<p>
                        <a href="https://www.w3schools.com/tags/att_link_href.asp">click</a>
                    </div> 
                        
        </div>

</div>
</div>
<script>$("#card").flip();
$("#cardd").flip();</script>