<div class="signin">
    <div id="wrapper">
        <h1 class="glitch" data-text="Contact">Contact</h1>
    </div>
    <form onsubmit="return false;">
        <input style ="margin-top:10px;"type="text" placeholder="enter your name" name="username" required>
        <input style ="margin-top:10px;" type="email" placeholder="enter your mail" name="usermail" required>
        <button style ="margin-top:10px;" class="buttonn" onclick="window.portfolio.contact.sendMail();">Submit</button>
    </form>
</div>